footer{
  background: $header-bg;
  height: 110px;
  color: white;
  padding: 57px 0 35px;
  box-sizing: border-box;
  .footer-wrapper{
    width: 100%;
    display: flex;
    div {
      display: flex;
      width: 50%;
    }
    .footer-networks {
      justify-content: right;
      width: 50%;
      img {
        max-width: 35px;
        padding-right: 15px;
      }
    }

  }
}
