$font-main: sans-serif;
$banner-color: #f6f2f2;
$font-color-main: #585858;
$header-bg: #313030;
$header-hover: #ff2d2d;
$text-upper: uppercase;
$input-bg: #e5e5e5;
$xxl: 1250px;
$lg: 992px;
$md: 768px;
$sm: 576px;