header {
  padding-top: 30px;
background: $banner-color;
  .header-wrapper {
    height: 90px;
    width: 100%;
    background: $header-bg;
    margin-bottom: 100px;
    @extend %flex;

    nav {
      @extend %flex;

      ul {
        @extend %flex;

        :hover {
          background-color: $header-hover;
        }

        li {
          font-weight: 550;
          text-transform: $text-upper;

          a {
            padding: 36px 25px;
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}